.root {
  position: sticky;
  top: calc(var(--header-height) + var(--main-layout-gap));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  padding: var(--padding--md);
  width: var(--sidebar-width--closed);
  height: calc(100vh - var(--header-height) - var(--main-layout-gap));
  border-radius: var(--border-radius--md);
  background-color: var(--color-secondary);
  transition: width var(--transition-daration--normal);
}

.toggle {
  align-self: flex-end;
}

.switchers {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: auto;
}

._opened {
  width: var(--sidebar-width--opened);

  .toggle {
    transform: scaleX(-1);
    transition: transform var(--transition-daration--normal);
  }
}
