@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

.app {
  height: 100vh;
  font: var(--font-md);
  background-color: var(--bg-color);
  color: var(--primary-color);
}