.theme--dark {
  --color-bg: #263238;
  --color-primary: #ddfdfd;
  --color-secondary: #2f3e44;
  --color-accent: #ddb9fa;
  --color-success: #37f137;
  --color-warning: #f9ff2c;
  --color-error: #fb2121;
}
