.theme--light {
  --color-bg: #e3f6f5;
  --color-primary: #272643;
  --color-secondary: #fff;
  --color-accent: #8c4cc0;
  --color-success: #20b520;
  --color-warning: #ffc12c;
  --color-error: #fb1515;
}
