@import "shared/styles/mixins/reset";

.root {
  @include reset-link;

  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.icon {
  fill: currentColor;
  width: 2rem;
  height: 2rem;
}

._inherit {
  color: inherit;
}

._primary {
  color: var(--color-primary);
}

._secondary {
  color: var(--color-secondary);
}
