.root {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: inherit;
  text-decoration: none;
}

.icon {
  fill: currentColor;
  width: 2rem;
  height: 2rem;
}

._inherit {
  color: inherit;
}

._primary {
  color: var(--color-primary);
}

._secondary {
  color: var(--color-secondary);
}
