.Navbar {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.text {
  transition:
    transform var(--transition-daration--short),
    opacity var(--transition-daration--short),
    width var(--transition-daration--short);
}

.onlyIcon {
  .text {
    opacity: 0;
    width: 0;
    height: 0;
    transform: scaleX(0);
  }
}
